--
-- PostgreSQL database dump
--

\restrict EBGHEUMVEqbXYPnpnyDqdWozXI5EEHPvo426KIqfL74qnNgd5I3keX6zbSX4S8J

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: employment_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.employment_enum AS ENUM (
    '╨Я╨╛╨╗╨╜╨░╤П',
    '╨з╨░╤Б╤В╨╕╤З╨╜╨░╤П',
    '╨Я╤А╨╛╨╡╨║╤В╨╜╨░╤П',
    '╨Э╨╡ ╨┐╨╛╨╗╨╜╨░╤П'
);


ALTER TYPE public.employment_enum OWNER TO admin;

--
-- Name: status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.status_enum AS ENUM (
    'active',
    'draft'
);


ALTER TYPE public.status_enum OWNER TO admin;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.user_role AS ENUM (
    'applicant',
    'company'
);


ALTER TYPE public.user_role OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cities; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cities (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    country_id integer
);


ALTER TABLE public.cities OWNER TO admin;

--
-- Name: cities_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cities_id_seq OWNER TO admin;

--
-- Name: cities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cities_id_seq OWNED BY public.cities.id;


--
-- Name: countries; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.countries (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.countries OWNER TO admin;

--
-- Name: countries_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.countries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.countries_id_seq OWNER TO admin;

--
-- Name: countries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.countries_id_seq OWNED BY public.countries.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.departments OWNER TO admin;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO admin;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: meets; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.meets (
    id integer NOT NULL,
    recruter_id integer NOT NULL,
    user_id integer NOT NULL,
    meet_date date NOT NULL,
    start_time time without time zone NOT NULL,
    meet_leight integer NOT NULL,
    meet_type text NOT NULL,
    link text NOT NULL,
    additional text
);


ALTER TABLE public.meets OWNER TO admin;

--
-- Name: meets_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.meets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meets_id_seq OWNER TO admin;

--
-- Name: meets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.meets_id_seq OWNED BY public.meets.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    email text NOT NULL,
    name character varying(255),
    topic text NOT NULL,
    description text
);


ALTER TABLE public.messages OWNER TO admin;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO admin;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: responses; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.responses (
    id integer NOT NULL,
    id_user integer,
    id_vacancy integer,
    responded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.responses OWNER TO admin;

--
-- Name: responses_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.responses_id_seq OWNER TO admin;

--
-- Name: responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.responses_id_seq OWNED BY public.responses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) NOT NULL,
    company_name character varying(150),
    phone character varying(30),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['applicant'::character varying, 'company'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vacancy; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vacancy (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    department_id integer NOT NULL,
    city_id integer NOT NULL,
    is_remote boolean NOT NULL,
    salary_min integer NOT NULL,
    salary_max integer NOT NULL,
    currency character varying(3) NOT NULL,
    employment_type public.employment_enum NOT NULL,
    description text NOT NULL,
    status public.status_enum NOT NULL,
    published_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    views_count integer DEFAULT 0
);


ALTER TABLE public.vacancy OWNER TO admin;

--
-- Name: vacancy_archive; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vacancy_archive (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    department_id integer NOT NULL,
    city_id integer NOT NULL,
    is_remote boolean NOT NULL,
    salary_min integer NOT NULL,
    salary_max integer NOT NULL,
    currency character varying(3) NOT NULL,
    employment_type public.employment_enum NOT NULL,
    description text NOT NULL,
    status public.status_enum NOT NULL,
    published_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.vacancy_archive OWNER TO admin;

--
-- Name: vacancy_archive_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.vacancy_archive_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vacancy_archive_id_seq OWNER TO admin;

--
-- Name: vacancy_archive_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.vacancy_archive_id_seq OWNED BY public.vacancy_archive.id;


--
-- Name: vacancy_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.vacancy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vacancy_id_seq OWNER TO admin;

--
-- Name: vacancy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.vacancy_id_seq OWNED BY public.vacancy.id;


--
-- Name: cities id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cities ALTER COLUMN id SET DEFAULT nextval('public.cities_id_seq'::regclass);


--
-- Name: countries id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.countries ALTER COLUMN id SET DEFAULT nextval('public.countries_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: meets id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.meets ALTER COLUMN id SET DEFAULT nextval('public.meets_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: responses id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.responses ALTER COLUMN id SET DEFAULT nextval('public.responses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vacancy id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy ALTER COLUMN id SET DEFAULT nextval('public.vacancy_id_seq'::regclass);


--
-- Name: vacancy_archive id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy_archive ALTER COLUMN id SET DEFAULT nextval('public.vacancy_archive_id_seq'::regclass);


--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cities (id, name, country_id) FROM stdin;
1	Almaty	1
2	Astana	1
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.countries (id, name) FROM stdin;
1	Kazakhstan
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.departments (id, name) FROM stdin;
1	╨Ф╨╕╨╖╨░╨╣╨╜
2	╨а╨░╨╖╤А╨░╨▒╨╛╤В╨║╨░
3	╨Ь╨░╤А╨║╨╡╤В╨╕╨╜╨│
4	HR
5	╨Я╤А╨╛╨┤╨░╨╢╨╕
6	╨д╨╕╨╜╨░╨╜╤Б╤Л
7	╨Я╨╛╨┤╨┤╨╡╤А╨╢╨║╨░
\.


--
-- Data for Name: meets; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.meets (id, recruter_id, user_id, meet_date, start_time, meet_leight, meet_type, link, additional) FROM stdin;
2	5	3	2026-06-05	14:01:00	90	Google Meet	googlemeet.com	Check
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.messages (id, email, name, topic, description) FROM stdin;
1				
2				
3				
4	randomguy123@gmail.com	Mr Random	First Req	Just Chill
\.


--
-- Data for Name: responses; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.responses (id, id_user, id_vacancy, responded_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, name, email, password_hash, role, company_name, phone, description, created_at) FROM stdin;
4	Ivan Company	ivancompany@mail.com	$2a$10$tM1IiOnNnRXUO9L89Ou91uySnR2N68P2QtesKRLpcO4QUl36joxhW	company	\N	\N	\N	2026-04-19 08:18:17.886885
3	Ivan 2.0	ivan@mail.com	$2a$10$QrhLmLVqEqlNtHchkSdj1eehTlPUL.U6Jhi6Dqwkd60dAFuyFIlvq	applicant		+77053658282	BackOld	2026-03-27 08:04:07.348721
5	Ivan	ivancompany2@mail.ru	$2a$10$57NOu6KCYtn7m93W7hDjxO2JdWvKyK/8WTtvWsj6o3qdKwZ76z7O6	company	\N	\N	\N	2026-06-05 08:26:05.05183
\.


--
-- Data for Name: vacancy; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.vacancy (id, title, department_id, city_id, is_remote, salary_min, salary_max, currency, employment_type, description, status, published_at, views_count) FROM stdin;
4	Check Create	1	1	f	10	9999999	KZT	╨Я╨╛╨╗╨╜╨░╤П	bim bim bam bam	active	2026-04-19 08:23:18.417846	0
6	Update Check	1	1	f	500000	900000	KZT	╨Я╨╛╨╗╨╜╨░╤П	╨а╨░╨╖╤А╨░╨▒╨╛╤В╨║╨░ backend-╤Б╨╡╤А╨▓╨╕╤Б╨╛╨▓ ╨╜╨░ Go, ╤А╨░╨▒╨╛╤В╨░ ╤Б PostgreSQL, ╤Г╤З╨░╤Б╤В╨╕╨╡ ╨▓ ╨░╤А╤Е╨╕╤В╨╡╨║╤В╤Г╤А╨╡.	active	2026-05-17 08:15:39.159041	0
\.


--
-- Data for Name: vacancy_archive; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.vacancy_archive (id, title, department_id, city_id, is_remote, salary_min, salary_max, currency, employment_type, description, status, published_at) FROM stdin;
\.


--
-- Name: cities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cities_id_seq', 2, true);


--
-- Name: countries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.countries_id_seq', 1, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.departments_id_seq', 7, true);


--
-- Name: meets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.meets_id_seq', 2, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.messages_id_seq', 4, true);


--
-- Name: responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.responses_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: vacancy_archive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.vacancy_archive_id_seq', 1, true);


--
-- Name: vacancy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.vacancy_id_seq', 6, true);


--
-- Name: cities cities_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_pkey PRIMARY KEY (id);


--
-- Name: countries countries_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_name_key UNIQUE (name);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: meets meets_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.meets
    ADD CONSTRAINT meets_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vacancy_archive vacancy_archive_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy_archive
    ADD CONSTRAINT vacancy_archive_pkey PRIMARY KEY (id);


--
-- Name: vacancy vacancy_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy
    ADD CONSTRAINT vacancy_pkey PRIMARY KEY (id);


--
-- Name: cities cities_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.countries(id);


--
-- Name: meets meets_recruter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.meets
    ADD CONSTRAINT meets_recruter_id_fkey FOREIGN KEY (recruter_id) REFERENCES public.users(id);


--
-- Name: meets meets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.meets
    ADD CONSTRAINT meets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: responses responses_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.users(id);


--
-- Name: responses responses_id_vacancy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_id_vacancy_fkey FOREIGN KEY (id_vacancy) REFERENCES public.vacancy(id);


--
-- Name: vacancy_archive vacancy_archive_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy_archive
    ADD CONSTRAINT vacancy_archive_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: vacancy_archive vacancy_archive_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy_archive
    ADD CONSTRAINT vacancy_archive_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: vacancy vacancy_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy
    ADD CONSTRAINT vacancy_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(id);


--
-- Name: vacancy vacancy_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vacancy
    ADD CONSTRAINT vacancy_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict EBGHEUMVEqbXYPnpnyDqdWozXI5EEHPvo426KIqfL74qnNgd5I3keX6zbSX4S8J

